{% extends "layout.html" %}

{% block title %}
    Add Task
{% endblock %}

{% block main%}
    <form action="/addtask" method="post">
        <div>
            <input name="task" placeholder="Task" type="text" required style="width: 700px;">
        </div>
        <div>
            <input name="detail" placeholder="Details" type="text" style="width: 700px; height: 700px;" class="details">
        </div>
        <div>
            <input name="importance" placeholder="Importance" id="importance" value="1" type="checkbox">
            <label for="importance">Important?</label>
        </div>
        <div>
            <input type="submit" value="submit">
        </div>

    </form>
{% endblock %}
