{% extends "layout.html" %}

{% block deletetask %}
    <form action="/" method="post">
        <select name="completed">
            {% for task in tasks %}
            <option value="{{ task.id }}" class="nav-item">{{ task. id }}. {{ task. task }}</option>
            {% endfor %}
        </select>
        <button type="submit">Completed</button>
    </form>
{% endblock %}

{% block title %}
    Tasks
{% endblock %}

{% block main%}
    {% for task in tasks %}
    <form>
        <button type="button" class="collapsible">{{ task.task }}</button>
        <div class="content">
            <p>{{ task.detail }}</p>
        </div>
    </form>
    {% endfor %}
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}
