{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main%}
    {% for task in tasks %}
    <button type="button" class="collapsible">{{ task.task }}</button>
    <div class="detail">
        <p>{{ task.detail }}</p>
    </div>
    <script>
        let collapsibles = document.getElementsByClassName('.collapsible');
        for (let i = 0; i < collapsibles.length; i++){
            collapsibles[i].addEventListener('click', function(){
                collapsible.classList.toggle("active");
                detail = collapsibles.nextElementSibilng;
                if (detail.style.display === 'block'){
                    detail.style.display = "none";
                } else {
                    detail.style.display = "block";
                }
            });
        }
    </script>
    {% endfor %}
{% endblock %}
