.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#feedback1 {
    text-align: center;
    color: purple;
    font-size:150%;
}

body {
    text-align: center;
    font-size:200%;
    background-color: #33FFC7;
}

#left{
    text-align: left;
}

#avatar{
    font-family: "Brush Script MT", cursive;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

#ultramen{
    text-align: center;
    padding: 2rem 1rem;
    background-color: #FFE933;
}

table, th, td {
    border: 1px solid;
  }