{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main%}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
                <td>{{ symbol }}</td>
                <td>{{ symbol }}</td>
                <td>{{ shares }}</td>
                <td>{{ price }}</td>
                <td>{{ total }}</td>
        </tbody>
        <tfoot>
            <tr>
                <td>Cash</td>
                <td>{{ current cash left }}</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>{{ cash }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
