{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td class="text-start">{{ stock.symbol }}</td>
                <td class="text-start">{{ stock.name }}</td>
                <td class="text-end">{{ stock.total_shares }}</td>
                <td class="text-end">{{ stock.price }}</td>
                <td class="text-end">{{ stock.price * stock.total_shares}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ grand_total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
