{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main%}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.total_shares }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.price * stock.total_shares}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>{{ grand_total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
